

.icon{
	color:black;
	font-size: 12px;
	margin:auto;
}


span{
color:red;
margin: 10px;
margin-left: 50px
}


#head{
	color:orange;
	font-size:16px;
}

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
  }
  #myCarousel{
    width:500px;
   margin: auto;
   margin-top: 70px;
  }
  
 


